In [4]:
import pandas as pd

import numpy as np

import matplotlib as plt

%matplotlib inline

In [5]:
df = pd.read_csv ("/home/noxd/computacional/a6/mona.csv")

In [6]:
df

             Date Time   Water Level   Sigma   I   L
0     2016-11-01 00:00         0.321   0.066   0    0
1     2016-11-01 01:00         0.319   0.065   0    0
2     2016-11-01 02:00         0.238   0.110   0    0
3     2016-11-01 03:00         0.196   0.073   0    0
4     2016-11-01 04:00         0.179   0.082   0    0
5     2016-11-01 05:00         0.147   0.115   0    0
6     2016-11-01 06:00         0.245   0.116   0    0
7     2016-11-01 07:00         0.253   0.105   0    0
8     2016-11-01 08:00         0.285   0.115   0    0
9     2016-11-01 09:00         0.259   0.103   0    0
10    2016-11-01 10:00         0.336   0.162   0    0
11    2016-11-01 11:00         0.369   0.114   0    0
12    2016-11-01 12:00         0.417   0.127   0    0
13    2016-11-01 13:00         0.452   0.142   0    0
14    2016-11-01 14:00         0.477   0.131   0    0
15    2016-11-01 15:00         0.464   0.159   0    0
16    2016-11-01 16:00         0.400   0.113   0    0
17    2016-11-01 17:00         0.398   0.153   0    0
18    2016-11-01 18:00         0.401   0.175   0    0
19    2016-11-01 19:00         0.421   0.134   0    0
20    2016-11-01 20:00         0.369   0.164   0    0
21    2016-11-01 21:00         0.397   0.136   0    0
22    2016-11-01 22:00         0.292   0.121   0    0
23    2016-11-01 23:00         0.295   0.107   0    0
24    2016-11-02 00:00         0.286   0.136   0    0
25    2016-11-02 01:00         0.316   0.102   0    0
26    2016-11-02 02:00         0.286   0.169   0    0
27    2016-11-02 03:00         0.186   0.132   0    0
28    2016-11-02 04:00         0.162   0.134   0    0
29    2016-11-02 05:00         0.105   0.130   0    0
...                ...           ...     ...  ..  ...
1434  2016-12-30 18:00         0.317   0.062   0    0
1435  2016-12-30 19:00         0.268   0.075   0    0
1436  2016-12-30 20:00         0.306   0.065   0    0
1437  2016-12-30 21:00         0.252   0.093   0    0
1438  2016-12-30 22:00         0.235   0.049   0    0
1439  2016-12-30 23:00         0.242   0.072   0    0
1440  2016-12-31 00:00         0.223   0.061   0    0
1441  2016-12-31 01:00         0.198   0.053   0    0
1442  2016-12-31 02:00         0.185   0.057   0    0
1443  2016-12-31 03:00         0.155   0.054   0    0
1444  2016-12-31 04:00         0.112   0.037   0    0
1445  2016-12-31 05:00         0.108   0.034   0    0
1446  2016-12-31 06:00         0.107   0.042   0    0
1447  2016-12-31 07:00         0.132   0.044   0    0
1448  2016-12-31 08:00         0.142   0.039   0    0
1449  2016-12-31 09:00         0.164   0.038   0    0
1450  2016-12-31 10:00         0.214   0.063   0    0
1451  2016-12-31 11:00         0.248   0.053   0    0
1452  2016-12-31 12:00         0.302   0.063   0    0
1453  2016-12-31 13:00         0.335   0.063   0    0
1454  2016-12-31 14:00         0.374   0.062   0    0
1455  2016-12-31 15:00         0.368   0.047   0    0
1456  2016-12-31 16:00         0.356   0.065   0    0
1457  2016-12-31 17:00         0.360   0.076   0    0
1458  2016-12-31 18:00         0.336   0.043   0    0
1459  2016-12-31 19:00         0.303   0.060   0    0
1460  2016-12-31 20:00         0.271   0.065   0    0
1461  2016-12-31 21:00         0.269   0.053   0    0
1462  2016-12-31 22:00         0.217   0.071   0    0
1463  2016-12-31 23:00         0.216   0.046   0    0

[1464 rows x 5 columns]

In [7]:
#eliminar variables extras
df_short=df.drop(df.columns[[2,3,4]],axis=1)
df_short

             Date Time   Water Level
0     2016-11-01 00:00         0.321
1     2016-11-01 01:00         0.319
2     2016-11-01 02:00         0.238
3     2016-11-01 03:00         0.196
4     2016-11-01 04:00         0.179
5     2016-11-01 05:00         0.147
6     2016-11-01 06:00         0.245
7     2016-11-01 07:00         0.253
8     2016-11-01 08:00         0.285
9     2016-11-01 09:00         0.259
10    2016-11-01 10:00         0.336
11    2016-11-01 11:00         0.369
12    2016-11-01 12:00         0.417
13    2016-11-01 13:00         0.452
14    2016-11-01 14:00         0.477
15    2016-11-01 15:00         0.464
16    2016-11-01 16:00         0.400
17    2016-11-01 17:00         0.398
18    2016-11-01 18:00         0.401
19    2016-11-01 19:00         0.421
20    2016-11-01 20:00         0.369
21    2016-11-01 21:00         0.397
22    2016-11-01 22:00         0.292
23    2016-11-01 23:00         0.295
24    2016-11-02 00:00         0.286
25    2016-11-02 01:00         0.316
26    2016-11-02 02:00         0.286
27    2016-11-02 03:00         0.186
28    2016-11-02 04:00         0.162
29    2016-11-02 05:00         0.105
...                ...           ...
1434  2016-12-30 18:00         0.317
1435  2016-12-30 19:00         0.268
1436  2016-12-30 20:00         0.306
1437  2016-12-30 21:00         0.252
1438  2016-12-30 22:00         0.235
1439  2016-12-30 23:00         0.242
1440  2016-12-31 00:00         0.223
1441  2016-12-31 01:00         0.198
1442  2016-12-31 02:00         0.185
1443  2016-12-31 03:00         0.155
1444  2016-12-31 04:00         0.112
1445  2016-12-31 05:00         0.108
1446  2016-12-31 06:00         0.107
1447  2016-12-31 07:00         0.132
1448  2016-12-31 08:00         0.142
1449  2016-12-31 09:00         0.164
1450  2016-12-31 10:00         0.214
1451  2016-12-31 11:00         0.248
1452  2016-12-31 12:00         0.302
1453  2016-12-31 13:00         0.335
1454  2016-12-31 14:00         0.374
1455  2016-12-31 15:00         0.368
1456  2016-12-31 16:00         0.356
1457  2016-12-31 17:00         0.360
1458  2016-12-31 18:00         0.336
1459  2016-12-31 19:00         0.303
1460  2016-12-31 20:00         0.271
1461  2016-12-31 21:00         0.269
1462  2016-12-31 22:00         0.217
1463  2016-12-31 23:00         0.216

[1464 rows x 2 columns]

In [8]:
#indicador de tiempo
df_short['month']=pd.DatetimeIndex(df_short['Date Time']).month

In [9]:
df_nov=df_short.loc[df_short[u'month'] == 11]
df_nov

            Date Time   Water Level  month
0    2016-11-01 00:00         0.321     11
1    2016-11-01 01:00         0.319     11
2    2016-11-01 02:00         0.238     11
3    2016-11-01 03:00         0.196     11
4    2016-11-01 04:00         0.179     11
5    2016-11-01 05:00         0.147     11
6    2016-11-01 06:00         0.245     11
7    2016-11-01 07:00         0.253     11
8    2016-11-01 08:00         0.285     11
9    2016-11-01 09:00         0.259     11
10   2016-11-01 10:00         0.336     11
11   2016-11-01 11:00         0.369     11
12   2016-11-01 12:00         0.417     11
13   2016-11-01 13:00         0.452     11
14   2016-11-01 14:00         0.477     11
15   2016-11-01 15:00         0.464     11
16   2016-11-01 16:00         0.400     11
17   2016-11-01 17:00         0.398     11
18   2016-11-01 18:00         0.401     11
19   2016-11-01 19:00         0.421     11
20   2016-11-01 20:00         0.369     11
21   2016-11-01 21:00         0.397     11
22   2016-11-01 22:00         0.292     11
23   2016-11-01 23:00         0.295     11
24   2016-11-02 00:00         0.286     11
25   2016-11-02 01:00         0.316     11
26   2016-11-02 02:00         0.286     11
27   2016-11-02 03:00         0.186     11
28   2016-11-02 04:00         0.162     11
29   2016-11-02 05:00         0.105     11
..                ...           ...    ...
690  2016-11-29 18:00         0.257     11
691  2016-11-29 19:00         0.265     11
692  2016-11-29 20:00         0.231     11
693  2016-11-29 21:00         0.219     11
694  2016-11-29 22:00         0.202     11
695  2016-11-29 23:00         0.164     11
696  2016-11-30 00:00         0.165     11
697  2016-11-30 01:00         0.129     11
698  2016-11-30 02:00         0.121     11
699  2016-11-30 03:00         0.084     11
700  2016-11-30 04:00         0.069     11
701  2016-11-30 05:00         0.106     11
702  2016-11-30 06:00         0.098     11
703  2016-11-30 07:00         0.116     11
704  2016-11-30 08:00         0.120     11
705  2016-11-30 09:00         0.185     11
706  2016-11-30 10:00         0.228     11
707  2016-11-30 11:00         0.238     11
708  2016-11-30 12:00         0.282     11
709  2016-11-30 13:00         0.296     11
710  2016-11-30 14:00         0.317     11
711  2016-11-30 15:00         0.319     11
712  2016-11-30 16:00         0.313     11
713  2016-11-30 17:00         0.309     11
714  2016-11-30 18:00         0.287     11
715  2016-11-30 19:00         0.298     11
716  2016-11-30 20:00         0.293     11
717  2016-11-30 21:00         0.240     11
718  2016-11-30 22:00         0.204     11
719  2016-11-30 23:00         0.189     11

[720 rows x 3 columns]

In [10]:

df_dic=df_short.loc[df_short[u'month'] == 12]
df_dic

             Date Time   Water Level  month
720   2016-12-01 00:00         0.173     12
721   2016-12-01 01:00         0.142     12
722   2016-12-01 02:00         0.148     12
723   2016-12-01 03:00         0.102     12
724   2016-12-01 04:00         0.088     12
725   2016-12-01 05:00         0.056     12
726   2016-12-01 06:00         0.074     12
727   2016-12-01 07:00         0.078     12
728   2016-12-01 08:00         0.109     12
729   2016-12-01 09:00         0.153     12
730   2016-12-01 10:00         0.198     12
731   2016-12-01 11:00         0.218     12
732   2016-12-01 12:00         0.246     12
733   2016-12-01 13:00         0.291     12
734   2016-12-01 14:00         0.309     12
735   2016-12-01 15:00         0.319     12
736   2016-12-01 16:00         0.284     12
737   2016-12-01 17:00         0.261     12
738   2016-12-01 18:00         0.249     12
739   2016-12-01 19:00         0.258     12
740   2016-12-01 20:00         0.223     12
741   2016-12-01 21:00         0.196     12
742   2016-12-01 22:00         0.169     12
743   2016-12-01 23:00         0.158     12
744   2016-12-02 00:00         0.129     12
745   2016-12-02 01:00         0.105     12
746   2016-12-02 02:00         0.091     12
747   2016-12-02 03:00         0.070     12
748   2016-12-02 04:00         0.049     12
749   2016-12-02 05:00        -0.011     12
...                ...           ...    ...
1434  2016-12-30 18:00         0.317     12
1435  2016-12-30 19:00         0.268     12
1436  2016-12-30 20:00         0.306     12
1437  2016-12-30 21:00         0.252     12
1438  2016-12-30 22:00         0.235     12
1439  2016-12-30 23:00         0.242     12
1440  2016-12-31 00:00         0.223     12
1441  2016-12-31 01:00         0.198     12
1442  2016-12-31 02:00         0.185     12
1443  2016-12-31 03:00         0.155     12
1444  2016-12-31 04:00         0.112     12
1445  2016-12-31 05:00         0.108     12
1446  2016-12-31 06:00         0.107     12
1447  2016-12-31 07:00         0.132     12
1448  2016-12-31 08:00         0.142     12
1449  2016-12-31 09:00         0.164     12
1450  2016-12-31 10:00         0.214     12
1451  2016-12-31 11:00         0.248     12
1452  2016-12-31 12:00         0.302     12
1453  2016-12-31 13:00         0.335     12
1454  2016-12-31 14:00         0.374     12
1455  2016-12-31 15:00         0.368     12
1456  2016-12-31 16:00         0.356     12
1457  2016-12-31 17:00         0.360     12
1458  2016-12-31 18:00         0.336     12
1459  2016-12-31 19:00         0.303     12
1460  2016-12-31 20:00         0.271     12
1461  2016-12-31 21:00         0.269     12
1462  2016-12-31 22:00         0.217     12
1463  2016-12-31 23:00         0.216     12

[744 rows x 3 columns]

In [11]:
#juntar diciembre y noviembre
df_23 = [df_nov, df_dic]
df_nd = pd.concat(df_23)

In [12]:
df_nd

             Date Time   Water Level  month
0     2016-11-01 00:00         0.321     11
1     2016-11-01 01:00         0.319     11
2     2016-11-01 02:00         0.238     11
3     2016-11-01 03:00         0.196     11
4     2016-11-01 04:00         0.179     11
5     2016-11-01 05:00         0.147     11
6     2016-11-01 06:00         0.245     11
7     2016-11-01 07:00         0.253     11
8     2016-11-01 08:00         0.285     11
9     2016-11-01 09:00         0.259     11
10    2016-11-01 10:00         0.336     11
11    2016-11-01 11:00         0.369     11
12    2016-11-01 12:00         0.417     11
13    2016-11-01 13:00         0.452     11
14    2016-11-01 14:00         0.477     11
15    2016-11-01 15:00         0.464     11
16    2016-11-01 16:00         0.400     11
17    2016-11-01 17:00         0.398     11
18    2016-11-01 18:00         0.401     11
19    2016-11-01 19:00         0.421     11
20    2016-11-01 20:00         0.369     11
21    2016-11-01 21:00         0.397     11
22    2016-11-01 22:00         0.292     11
23    2016-11-01 23:00         0.295     11
24    2016-11-02 00:00         0.286     11
25    2016-11-02 01:00         0.316     11
26    2016-11-02 02:00         0.286     11
27    2016-11-02 03:00         0.186     11
28    2016-11-02 04:00         0.162     11
29    2016-11-02 05:00         0.105     11
...                ...           ...    ...
1434  2016-12-30 18:00         0.317     12
1435  2016-12-30 19:00         0.268     12
1436  2016-12-30 20:00         0.306     12
1437  2016-12-30 21:00         0.252     12
1438  2016-12-30 22:00         0.235     12
1439  2016-12-30 23:00         0.242     12
1440  2016-12-31 00:00         0.223     12
1441  2016-12-31 01:00         0.198     12
1442  2016-12-31 02:00         0.185     12
1443  2016-12-31 03:00         0.155     12
1444  2016-12-31 04:00         0.112     12
1445  2016-12-31 05:00         0.108     12
1446  2016-12-31 06:00         0.107     12
1447  2016-12-31 07:00         0.132     12
1448  2016-12-31 08:00         0.142     12
1449  2016-12-31 09:00         0.164     12
1450  2016-12-31 10:00         0.214     12
1451  2016-12-31 11:00         0.248     12
1452  2016-12-31 12:00         0.302     12
1453  2016-12-31 13:00         0.335     12
1454  2016-12-31 14:00         0.374     12
1455  2016-12-31 15:00         0.368     12
1456  2016-12-31 16:00         0.356     12
1457  2016-12-31 17:00         0.360     12
1458  2016-12-31 18:00         0.336     12
1459  2016-12-31 19:00         0.303     12
1460  2016-12-31 20:00         0.271     12
1461  2016-12-31 21:00         0.269     12
1462  2016-12-31 22:00         0.217     12
1463  2016-12-31 23:00         0.216     12

[1464 rows x 3 columns]

In [13]:
df_nov=df_short.loc[df_short[u'month'] == 11]
df_dic=df_short.loc[df_short[u'month'] == 12]

#novimebre
import pandas as pd
time_range = pd.date_range('2016-11-01 00:00:00','2016-11-30 23:00:00', freq='H')
# podemos aun seleccionar un rango de días
 
hours = time_range.hour
days = time_range.day
# Podemos calcular el número de horas transcurridas desde la fecha inicial
nov_d = (days-1)*24+hours
nov_d

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719], dtype=int32)

In [14]:
#diciembre
import pandas as pd
time_range = pd.date_range('2016-12-01 00:00:00','2016-12-31 23:00:00', freq='H')
# podemos aun seleccionar un rango de días
 
hours = time_range.hour
days = time_range.day
# Podemos calcular el número de horas transcurridas desde la fecha inicial
dic_d= 720 + (days-1)*24+hours
dic_d

array([ 720,  721,  722,  723,  724,  725,  726,  727,  728,  729,  730,
        731,  732,  733,  734,  735,  736,  737,  738,  739,  740,  741,
        742,  743,  744,  745,  746,  747,  748,  749,  750,  751,  752,
        753,  754,  755,  756,  757,  758,  759,  760,  761,  762,  763,
        764,  765,  766,  767,  768,  769,  770,  771,  772,  773,  774,
        775,  776,  777,  778,  779,  780,  781,  782,  783,  784,  785,
        786,  787,  788,  789,  790,  791,  792,  793,  794,  795,  796,
        797,  798,  799,  800,  801,  802,  803,  804,  805,  806,  807,
        808,  809,  810,  811,  812,  813,  814,  815,  816,  817,  818,
        819,  820,  821,  822,  823,  824,  825,  826,  827,  828,  829,
        830,  831,  832,  833,  834,  835,  836,  837,  838,  839,  840,
        841,  842,  843,  844,  845,  846,  847,  848,  849,  850,  851,
        852,  853,  854,  855,  856,  857,  858,  859,  860,  861,  862,
        863,  864,  865,  866,  867,  868,  869,  870,  871,  872,  873,
        874,  875,  876,  877,  878,  879,  880,  881,  882,  883,  884,
        885,  886,  887,  888,  889,  890,  891,  892,  893,  894,  895,
        896,  897,  898,  899,  900,  901,  902,  903,  904,  905,  906,
        907,  908,  909,  910,  911,  912,  913,  914,  915,  916,  917,
        918,  919,  920,  921,  922,  923,  924,  925,  926,  927,  928,
        929,  930,  931,  932,  933,  934,  935,  936,  937,  938,  939,
        940,  941,  942,  943,  944,  945,  946,  947,  948,  949,  950,
        951,  952,  953,  954,  955,  956,  957,  958,  959,  960,  961,
        962,  963,  964,  965,  966,  967,  968,  969,  970,  971,  972,
        973,  974,  975,  976,  977,  978,  979,  980,  981,  982,  983,
        984,  985,  986,  987,  988,  989,  990,  991,  992,  993,  994,
        995,  996,  997,  998,  999, 1000, 1001, 1002, 1003, 1004, 1005,
       1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016,
       1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027,
       1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038,
       1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049,
       1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060,
       1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071,
       1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082,
       1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093,
       1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104,
       1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115,
       1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126,
       1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137,
       1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148,
       1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159,
       1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170,
       1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181,
       1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192,
       1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203,
       1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214,
       1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225,
       1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236,
       1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247,
       1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258,
       1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269,
       1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280,
       1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291,
       1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302,
       1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313,
       1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324,
       1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335,
       1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346,
       1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357,
       1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368,
       1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379,
       1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390,
       1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401,
       1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412,
       1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423,
       1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434,
       1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445,
       1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456,
       1457, 1458, 1459, 1460, 1461, 1462, 1463], dtype=int32)

In [15]:
#crear variables de hora para cada caso
df_nov['hour'] = nov_d
df_dic['hour']= dic_d

/root/miniconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/root/miniconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [16]:
#unir las variables de hora en una variable
df_23 = [df_nov['hour'], df_dic['hour']]
df_nd['hour'] = pd.concat(df_23)

In [17]:
df_nd

             Date Time   Water Level  month  hour
0     2016-11-01 00:00         0.321     11     0
1     2016-11-01 01:00         0.319     11     1
2     2016-11-01 02:00         0.238     11     2
3     2016-11-01 03:00         0.196     11     3
4     2016-11-01 04:00         0.179     11     4
5     2016-11-01 05:00         0.147     11     5
6     2016-11-01 06:00         0.245     11     6
7     2016-11-01 07:00         0.253     11     7
8     2016-11-01 08:00         0.285     11     8
9     2016-11-01 09:00         0.259     11     9
10    2016-11-01 10:00         0.336     11    10
11    2016-11-01 11:00         0.369     11    11
12    2016-11-01 12:00         0.417     11    12
13    2016-11-01 13:00         0.452     11    13
14    2016-11-01 14:00         0.477     11    14
15    2016-11-01 15:00         0.464     11    15
16    2016-11-01 16:00         0.400     11    16
17    2016-11-01 17:00         0.398     11    17
18    2016-11-01 18:00         0.401     11    18
19    2016-11-01 19:00         0.421     11    19
20    2016-11-01 20:00         0.369     11    20
21    2016-11-01 21:00         0.397     11    21
22    2016-11-01 22:00         0.292     11    22
23    2016-11-01 23:00         0.295     11    23
24    2016-11-02 00:00         0.286     11    24
25    2016-11-02 01:00         0.316     11    25
26    2016-11-02 02:00         0.286     11    26
27    2016-11-02 03:00         0.186     11    27
28    2016-11-02 04:00         0.162     11    28
29    2016-11-02 05:00         0.105     11    29
...                ...           ...    ...   ...
1434  2016-12-30 18:00         0.317     12  1434
1435  2016-12-30 19:00         0.268     12  1435
1436  2016-12-30 20:00         0.306     12  1436
1437  2016-12-30 21:00         0.252     12  1437
1438  2016-12-30 22:00         0.235     12  1438
1439  2016-12-30 23:00         0.242     12  1439
1440  2016-12-31 00:00         0.223     12  1440
1441  2016-12-31 01:00         0.198     12  1441
1442  2016-12-31 02:00         0.185     12  1442
1443  2016-12-31 03:00         0.155     12  1443
1444  2016-12-31 04:00         0.112     12  1444
1445  2016-12-31 05:00         0.108     12  1445
1446  2016-12-31 06:00         0.107     12  1446
1447  2016-12-31 07:00         0.132     12  1447
1448  2016-12-31 08:00         0.142     12  1448
1449  2016-12-31 09:00         0.164     12  1449
1450  2016-12-31 10:00         0.214     12  1450
1451  2016-12-31 11:00         0.248     12  1451
1452  2016-12-31 12:00         0.302     12  1452
1453  2016-12-31 13:00         0.335     12  1453
1454  2016-12-31 14:00         0.374     12  1454
1455  2016-12-31 15:00         0.368     12  1455
1456  2016-12-31 16:00         0.356     12  1456
1457  2016-12-31 17:00         0.360     12  1457
1458  2016-12-31 18:00         0.336     12  1458
1459  2016-12-31 19:00         0.303     12  1459
1460  2016-12-31 20:00         0.271     12  1460
1461  2016-12-31 21:00         0.269     12  1461
1462  2016-12-31 22:00         0.217     12  1462
1463  2016-12-31 23:00         0.216     12  1463

[1464 rows x 4 columns]

In [18]:
del df_nd[u'month']

In [19]:
del df_nd[u'Date Time']

In [20]:
df_nd

       Water Level  hour
0            0.321     0
1            0.319     1
2            0.238     2
3            0.196     3
4            0.179     4
5            0.147     5
6            0.245     6
7            0.253     7
8            0.285     8
9            0.259     9
10           0.336    10
11           0.369    11
12           0.417    12
13           0.452    13
14           0.477    14
15           0.464    15
16           0.400    16
17           0.398    17
18           0.401    18
19           0.421    19
20           0.369    20
21           0.397    21
22           0.292    22
23           0.295    23
24           0.286    24
25           0.316    25
26           0.286    26
27           0.186    27
28           0.162    28
29           0.105    29
...            ...   ...
1434         0.317  1434
1435         0.268  1435
1436         0.306  1436
1437         0.252  1437
1438         0.235  1438
1439         0.242  1439
1440         0.223  1440
1441         0.198  1441
1442         0.185  1442
1443         0.155  1443
1444         0.112  1444
1445         0.108  1445
1446         0.107  1446
1447         0.132  1447
1448         0.142  1448
1449         0.164  1449
1450         0.214  1450
1451         0.248  1451
1452         0.302  1452
1453         0.335  1453
1454         0.374  1454
1455         0.368  1455
1456         0.356  1456
1457         0.360  1457
1458         0.336  1458
1459         0.303  1459
1460         0.271  1460
1461         0.269  1461
1462         0.217  1462
1463         0.216  1463

[1464 rows x 2 columns]

In [41]:
def f(t):
 return 0.2153 + (0.0845)*np.sin(np.pi*t/12.04)  + (0.0419)*np.sin(np.pi*t/12.87) + (0.0195)*np.sin(np.pi*t/12.98) + (0.0128)*np.sin(np.pi*t/13.21) + (0.01277)*np.sin(np.pi*t/6.2) + (0.0127)*np.sin(np.pi*t/6)  + (0.0115)*np.sin(np.pi*t/12.55) + (0.0108)*np.sin(np.pi*t/11.63) + (0.0092)*np.sin(np.pi*t/11.81) + (0.0079)*np.sin(np.pi*t/12.4)    

#interpolar la funcion
df_nd[u' Water Level'] = df_nd[u' Water Level'].astype(float).interpolate(method='spline', order=2)

#error relativo
x =  (np.abs(df_nd[u' Water Level'] - f(df_nd[u'hour']) ))**2
y =  (np.abs(df_nd[u' Water Level']))**2

er = x/y

er.sum()
#evitar error infinito
np.ma.masked_invalid(er).sum()

40407.853270570165

In [42]:
er

0       0.108428
1       0.016850
2       0.160751
3       0.856457
4       1.607593
5       3.395645
6       0.476561
7       0.325653
8       0.091450
9       0.095775
10      0.008970
11      0.074837
12      0.197902
13      0.324590
14      0.450280
15      0.552047
16      0.628249
17      0.761521
18      0.874437
19      0.940057
20      0.923683
21      0.842800
22      0.592879
23      0.369218
24      0.154136
25      0.065576
26      0.000671
27      0.711493
28      1.798266
29      7.907566
          ...
1434    0.266285
1435    0.290469
1436    0.437631
1437    0.385169
1438    0.330691
1439    0.276955
1440    0.149319
1441    0.031918
1442    0.000343
1443    0.133057
1444    1.121462
1445    1.624805
1446    1.985984
1447    1.069053
1448    0.930274
1449    0.586264
1450    0.159570
1451    0.056165
1452    0.000518
1453    0.008964
1454    0.052420
1455    0.079868
1456    0.121617
1457    0.209286
1458    0.277723
1459    0.335119
1460    0.372728
1461    0.415675
1462    0.298618
1463    0.228325
dtype: float64